<!-- Codemono Landing Page - Start-->

<!-- section 1 -->
<div class="bg-app">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row py-5">
                    <div class="col-md-7 d-flex align-items-center">
                        <div class="d-block text-center text-md-start">
                            <div>
                                <h1 class="fw-bold title">Bienvenido al mundo de la programacion profesional</h1>
                                <p class="text-lg">Creamos valor a traves de la tecnologia, ayudamos a nuestros clientes a prosperar en la era digital.
                                </p>
                            </div>

                            <div>
                                <button type="button" class="btn btn-primary shadow">Talento en ingenieria</button>
                                <button type="button" class="btn btn-primary shadow ms-5">Proyectos Exitosos</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5 text-right">
                        <img src="assets/images/illustrations/start.svg" style="width: 100%;" alt="CriselSoft">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section 2 -->
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-sm-12 text-center">
            <h2 class="fw-bold">Como podemos ayudar a su negocio?</h2>
            <p class="text-lg">A través de una cartera completa de soluciones y servicios que permiten la transformación y mejoran la eficiencia empresarial.
            </p>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-sm-12 col-md-4 text-center">
            <div class="card">
                <div class="m-auto ghost-success rounded-circle img-lg icon-services">
                    <i class="bi bi-binoculars fs-1 text-success"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Encuentra lo que necesitas</h5>
                    <p class="card-text">
                        Llevar a cabo algunas de tus tareas de resulta dificil, complicado?. Sientes que tu trabajo es desordenado.
                        No dudes en solicitar una solucion informatica y agil.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 text-center">
            <div class="card">
                <div class="m-auto ghost-primary rounded-circle img-lg icon-services">
                    <i class="bi bi-gear fs-1 text-primary"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Trabajamos en los detalles</h5>
                    <p class="card-text">
                        Ofrecemos productos y servicios de calidad, teniendo comunicacion directa con el cliente, siempre mostrando profesionalismo.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 text-center">
            <div class="card">
                <div class="m-auto ghost-warning rounded-circle img-lg icon-services">
                    <i class="bi bi-lightning-charge fs-1 text-warning"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mejora tu rendimiento</h5>
                    <p class="card-text">
                        Diseñamos tu proyecto para ayudarte a mejorar la productivad mediante nuestras aplicaciones innovadoras,
                        servicios inteligentes en la nube y seguridad de primer nivel.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- section 3 -->
<div class="bg-app">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-sm-12 text-center">
                <div>
                    <h2 class="fw-bold"> Lidera el mercado usando software moderno </h2>
                    <p class="text-lg">Diferenciate, sobresale de la competencia, SE MEJOR
                    </p>
                </div>

                <div class="mt-5">
                    <button type="button" class="btn btn-primary" [routerLink]="['/contact']">Contactate con nosotros</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section 4 -->
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <img class="img-customer" src="assets/images/illustrations/customers.svg" alt="CriselSoft">
        </div>

        <div class="col-md-6">
            <div class="card w-100 bg-transparent border-0">
                <div class="card-body text-center text-md-start">
                    <h3 class="fw-bold">Grandes Relaciones con clientes<br> estan muy cerca</h3>
                    <p class="body-text">
                        La importancia de la relación con el cliente Establecer una buena relación con sus consumidores es fundamental por 
                        varias razones y traerá grandes resultados a su negocio. Además de ser un tema clave para mantener al consumidor en su base, 
                        es decisivo para optimizar los resultados de una empresa. 
                    </p>
                    <div>
                        <a href="https://www.sinch.com/es-mx/blog/relacion-con-el-cliente-todo-sobre-el-tema-y-un-poco-mas" class="text-primary">Lea acerca las relacion entre clientes</a>
                        <a href="https://www.sinch.com/es-mx/blog/relacion-con-el-cliente-todo-sobre-el-tema-y-un-poco-mas" class="btn btn-icon ghost-primary ms-2" aria-label="Settings">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section 5 -->
<!-- <div class="bg-app">

    <div class="container py-5">
        <div class="row">
            <div class="col-12 mt-4 text-center">
                <h2 class="fw-bold">What our happy clients say</h2>
                <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card shadow mt-4 mt-sm-0">
                    <div class="pt-3 m-auto">
                        <img src="/assets/images/avatars/avatar-03.svg" class="avatar-md circle m-auto" alt="...">
                    </div>
                    <div class="card-body text-center pt-0">
                        <div class="py-2 star-pulse">
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                        </div>
                        <h5 class="card-title font-weight-bold">John Doe</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita labore quas eos doloribus
                            nisi asperiores qui rerum facilis tempora cupiditate non est natus placeat repellendus
                            impedit
                            nemo ipsam, beatae doloremque!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card shadow mt-4 mt-sm-0">
                    <div class="pt-3 m-auto">
                        <img src="/assets/images/avatars/avatar-04.svg" class="avatar-md circle m-auto" alt="...">
                    </div>
                    <div class="card-body text-center pt-0">
                        <div class="py-2 star-pulse-2">
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                        </div>
                        <h5 class="card-title font-weight-bold">Ania Ayala</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo perferendis quo natus sequi
                            maxime est illo corrupti, placeat, omnis libero, ratione quae dolorum perspiciatis facilis
                            harum
                            dolor porro accusantium minima!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card shadow mt-4 mt-sm-0">
                    <div class="pt-3 m-auto">
                        <img src="/assets/images/avatars/avatar-05.svg" class="avatar-md circle" alt="...">
                    </div>
                    <div class="card-body text-center pt-0">
                        <div class="py-2 star-pulse-3">
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                        </div>
                        <h5 class="card-title font-weight-bold">Rowhan Smith</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime eius nesciunt quod quaerat
                            odio
                            saepe doloremque blanditiis exercitationem neque reiciendis necessitatibus quibusdam nihil
                            vero
                            ex, sapiente cum sint, aperiam voluptates.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center mt-5 mb-5">

                <button type="button" class="btn btn-icon btn-light me-2 shadow">
                    <i class="bi bi-arrow-left-short fs-4"></i>
                </button>

                <button type="button" class="btn btn-icon btn-primary ms-2 shadow">
                    <i class="bi bi-arrow-right-short fs-4"></i>
                </button>

            </div>

        </div>
    </div>
</div>
 -->


